<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #checkout-static-resources},
                                                ~{:: #checkout-nav},
                                                ~{:: #checkout-main-content},
                                                ~{:: #checkout-footer}
                                               )}">

<head>
    <title>Title of Home Page</title>

    <th:block id="checkout-static-resources">

        <script type="text/javascript" src="../static/home.js" th:src="@{/home.js}"></script>
        <link rel="stylesheet" type="text/css" href="../static/home.css" th:href="@{/home.css}"/>

    </th:block>

</head>
<body>


<div id="checkout-nav" th:replace="~{/fragments/app-fragments :: nav-default}">
    Home Nav
</div>

<div id="checkout-main-content">
    <div class="container" style="margin-top: 5rem">
        <div class="row">
            <div class="col-md-8" style="border: 1px solid #ced4da;border-radius: 5px !important">


                <h4 class="mt-3">List of Product</h4>
                <table class="w-100 table table-striped mt-3">
                    <tbody>
                    <tr>
                        <th>STT</th>
                        <th>Image</th>
                        <th>Name of Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>

                    <tr th:each="c:${listCart}">
                        <td>1</td>
                        <td>
                            <img th:src="@{'/images/'+*{c.productImageUrl}}" style="width: 100px">
                        </td>
                        <td th:text="*{c.productName}">Repair Tool</td>
                        <td th:text="'$'+*{c.productPrice}">
                            $16.61
                        </td>
                        <td th:text="*{c.quantity}">
                            1
                        </td>
                        <td th:text="*{c.quantity*c.productPrice}">
                            $16.61
                        </td>
                    </tr>


                    </tbody>
                </table>
                <hr>
                <div class="text-right">
                    <h4 th:text="'Total price:$'+*{totalMoney}">Total price:$55.77</h4>
                </div>


            </div>
            <div class="col-md-4 pl-5" style="border: 1px solid #ced4da;border-radius: 5px !important;">
                <h3 class="mt-3" style="color: orange">Infomation of Customer</h3>
                <div class="card mt-3">
                    <div class="card-body">
                        <form th:action="@{/prepare-shipping}" method="get">
                            <div class="form-group">
                                <label for="name">Full Name</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Enter name"
                                       required="">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="sdt">Phone number</label>
                                <input type="number" id="sdt" name="phone" class="form-control" placeholder="enter phone number"
                                       required="">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea class="form-control" id="address" rows="3" name="address" required=""></textarea>
                            </div>
                            <div class="form-group">
                                <label for="address">Note</label>
                                <textarea class="form-control" rows="3" name="note"></textarea>
                            </div>

                            <button type="submit" class="btn btn-success w-100">Accept</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="checkout-footer" th:replace="~{/fragments/app-fragments :: copyright}">
    Footer
</div>


</body>
</html>